*
{
    padding: 0;
    margin: 0;
}

.navbar{
  background: rgb(25, 3, 54);
}
.nav-link,
.navbar-brand{
  color: #fff;
  cursor: pointer;
}
.nav-link{
  margin-right: 1em !important;
}
.nav-link:hover{
  color: rgb(255, 0, 0);
}
.navbar-collapse{
  justify-content: flex-end;
}
h2{
    color: rgb(255, 255, 255);
    background-color: darkgreen;
    text-shadow: rgb(46, 0, 0);
    text-overflow: 3px 4px 5px yellow;
    font-style: italic;
    font-size: 18px;
    font-family: Verdana,Tahoma, sans-serif;
  }
  #footer{
    padding-top: 10px;
    padding-bottom: 5px;
    background:rgb(5, 19, 56);
    color: #fff;
  }
  .copyright{
    padding-top: 0px;
    font-size: 80%;
  }
  .pagination a{
    padding: 30px;
    padding-left: 65px;
    float: left;
    font-size: small;
}
.pagination li{
    display: inline;
}
  
/*--===============================
Navigation bar
===================================--*/
.navbar-brand img{
    width: 50px;
    height: 35px;
  }
  